body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    color: #000000;
}

p {
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;

}
#main {
    position: relative;
}

/* Main Page */
.header{
    height: 10vh;
    width: 100vw;
    background-color: #cccccc;
    text-align: center;
    line-height: 10vh;
    font-size: 40px;
}

#EffectsMenuWrapper{
    height: 90vh;
    width: 100vw;
    background-color: #444444;
    padding: 2.5vw;
    box-sizing: border-box;
    text-align: center;
}

.effectContainer {
    height: 30vh;
    width: 30vh;
    background-color: #777777;
    box-sizing: border-box;
    display: inline-block;
    margin: 2.5vw;
    font-size: 1.5em;
    line-height: 30vh;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50%;
}

/* Effects Page Left Menu */

#leftMenu {
    width: 280px;
    height: 96vh;
    margin: 2vh 1vw;
    display: inline-block;
    position: relative;
    z-index: 100;
    box-sizing: border-box;
}

.menu{
    height: 50px;
    margin: 20px 0;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.menuText {
    display:inline-block;
    color: #F23942;
}

#title {
    font-size: 2em;
    height: 10%;
    color: #ffffff;
    background-color: #F23942;
    text-decoration: none;
    line-height: 56px;
    border-radius: 4px;
}

.presets {
    height: 50px;
    margin: 20px 0;
    /*background-color: #f5f5f5;*/
}

.paramSettings {
    height: 50px;
    margin: 20px 0;
    /*background-color: #f5f5f5;*/
}

/* Text Input Containers */
.settingContainer {
    width: 280px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    /* z-index: 4; */
    box-sizing: border-box;
    opacity: 1;
}

.imgPreview {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    bottom: 3px;
}

#imgPreview1{
    background-image: url('images/sparkle1.png');
}
#imgPreview2{
    background-image: url('images/sparkle2.png');
}
#imgPreview3{
    background-image: url('images/sparkle3.png');
}

.textInput {
    width: 166px;
    height: 24px;
    position: relative;
    bottom: 18px;
    margin: 8px;
}

.addImagesButton {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #a5a5a5;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    position: relative;
    bottom: 14px;
}

/* Range Inputs */
.settingContainer label {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    color: #F23942;
    letter-spacing: 1.7px;
    line-height: 12px;
    text-transform: uppercase;
    margin-right: 10px;
    position: relative;
    top: 5px;
    margin: 5px;
}

.slider input {
    position: relative;
    top: 9px;
    width: 154px;
}

/* Show Code */
#showCode {
    height: 50px;
    margin: 20px 0;
    background-color: #f5f5f5;
    border-radius: 4px;
}

#codeBlock {
    width: 71vw;
    height: 30vh;
    margin: 2vh 3vw;
    padding: 1vh 1vw;
    background-color: #f5f5f5;
    border: 0.25vh solid #777777;
    display: inline-block;
    position: absolute;
    bottom: 6vh;
    z-index: 100;
    overflow: hidden;
    box-sizing: border-box;
}


.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-36 {
    font-size: 21px;
    position: relative;
    left: 4px;
    top: 4px;
}
.circle {
    height: 29px;
    width: 29px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}